{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}
    <div class="banner_team">
        <section id="hero">
            <h1>Créer ton équipe et entre dans l'arène pour la gloire !</h1>
        </section>

        <section>
            <div class="container"> 
                <h2>Choisissez vos combattants !</h2>
                <input type="text" placeholder="Nom de la team" id="team-name" class="team-name">
                <div class="team-container">
                   
                    <div class="container__character-team">
                        <div class="character-team">
                        
                        </div>
                        <div class="character-team">
                        
                        </div>
                        <div class="character-team">
                        
                        </div>
                    </div>
                    
                </div> 
                <button class="btn_team">Sauvegarder</button>
            </div>
           
        </section>

        <section id="team-list">
            <div class="filters-button">
                <div class="filter-button" data-filter="dps">DPS</div>
                <div class="filter-button" data-filter="tank">TANK</div>
                <div class="filter-button" data-filter="heal">HEALER</div>
            </div>
            <div class="container_card_personnage">
                {% include 'partials/hero.html.twig' %}
            </div>
        </section>
    </div>
    <script src="{{ asset('js/team-selection.js') }}"></script>
{% endblock %}
