{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
        <div class='banner_register'>
                <section id="inscriptionpage">
                        <div class="container">
                                <div class="container-form">
                                        {{form(form)}}
                                </div>
                        </div>
                </section>
        </div>
{% endblock %}