{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div id="profil-wallpaper">
    <section id="profil">
        <div class="container">
            <div class="avatar-container">
                <div id="avatar">
                    <div class="avatar-img">
                        <img src="" alt="">
                    </div>
                    <div class="avatar-border"></div>
                    <div id="modal">
                        <form method="post" enctype="multipart/form-data">
                            <label for="avatar">Changer l’avatar</label>
                            <input type="file" name="avatar" id="avatar" accept="image/*">
                            <button type="submit">Mettre à jour</button>
                        </form>

                        <div id="close"></div>
                    </div>
                    <div class="option"></div>
                </div>
            </div>

            <div id="username">
                <h2>{{ username }}</h2>
            </div>
        </div>
    </section>

    {% for message in app.flashes('error') %}
        <div class="alert alert-error">
            {{ message }}
        </div>
    {% endfor %}

    <section id="teams">
        <div class="container">
            <h2>Mes teams :</h2>

            <div class="team-container" id="team-container">
                {% include 'partials/team.html.twig' %}
            </div>
        </div>
    </section>
</div>

<script src="{{ asset('js/profil.js') }}"></script>
{% endblock %}