{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
<h1>Combat Team vs Team</h1>

<div id="battle">
    <div class="team" id="teamA">
        <h3>Team A</h3>
        <div class="unit-container"></div>
    </div>
    <div class="team" id="teamB">
        <h3>Team B</h3>
        <div class="unit-container"></div>
    </div>
</div>

<button id="nextRound">Next Round</button>

<h2>Placement des unités</h2>

<div id="board"></div>

<h3>Team A</h3>
<div id="teamA-units"></div>

<h3>Team B</h3>
<div id="teamB-units"></div>

<button id="startCombat">Lancer le combat</button>
{% endblock %}
