{% extends 'base.html.twig' %}

{% block body %}

<div class='banner_placement'>
    <div class="placement-container">
        <h2>Placement des unités</h2>
        <div id="board"></div>
        <button id="startCombat">Lancer</button>
    </div>
    <div class="container-team">
        <div class="first-team">
            <h3>Team A</h3>
            <div id="teamA-units"></div>
        </div>

        <div class="second-team">
            <h3>Team B</h3>
            <div id="teamB-units"></div>
        </div>
    </div>

    
</div>
<script src="{{ asset('js/placement.js') }}"></script>
{% endblock %}
