@font-face {
    font-family: 'medievalsharp';
    src: url(../../../public/fonts/MedievalSharp/MedievalSharp-Regular.ttf);
}
@font-face {
    font-family: 'jacquard24';
    src: url(../../../public/fonts/Jacquard_24/Jacquard24-Regular.ttf);
}