{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <main>
        <section class='banner'>
            <div>
                <p>Découvrez le 3v3 comme vous ne l’avez jamais vu !</p>
            </div>
        </section>
    </main>
{% endblock %}
