.banner{
    background: center/cover no-repeat fixed url(../../../public/img/accueil/banner.png);
    .hero{
        height: 100vh;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
            h1{
                color: #DAD4A6;
                -webkit-text-stroke: 0.15em #686868;
                paint-order: stroke fill;
                font-size: 4.375rem;
                font-family: 'medievalsharp';
        }
    }
    h2{
        font-size: 50px;
        font-family: 'medievalsharp';
        color:white;
        
    }
    
    .TFP{
        margin-top:100px ;
        text-align: center;
        background-image: url(../../../public/img/bgTFP.jpg);
        background-size: cover;        
        background-repeat: no-repeat;  
        min-height: 100vh;
        position: relative;  
        padding-top: 40px;
        .explain{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 300px;
            .regle{
                width: 40%;
                p{
                    font-size: 50px;
                    font-family: 'jacquard24';
                    text-align: start;
                    color: #DAD4A6;
                }
            }
            img{
                width: 400px;
            }
        }
    }
    .title-actu{
        text-align: center;
    }
    .container-card{
        display: flex;
        justify-content: space-evenly;
        padding: 30px;        
        .card{
            background-image: url(../../../public/img/personnage/bg_parchemin.jpg);
            background-size: contain;        
            background-repeat: no-repeat;  
            background-position: center;
            text-align: center;
            padding-top:10px ;
            font-family: 'medievalsharp';
            margin-bottom: 40px;
            padding-bottom: 40px;
            
            img{
                width: 150px;
            }
            .btn{
                color: black;
                background-color: #686868;
                padding: 8px 20px 8px 20px;
                margin: 10px;
                font-size: 14px;
                font-family: 'medievalsharp';
                box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36 ;
                text-decoration: none;
            }
            .btn:active {
                transform: translateY(5px);
                box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,inset 0px 5px #00000038;
            }
            
        }
    }
}