footer{
    .container_footer{
        display: flex;            
        align-items: center;
        justify-content: space-around;
        .nav-footer{
            display: flex;
            justify-content: space-evenly;
            gap: 700px;
            img{
                width: 100px;
            }
            ul{
                display: flex;
                flex-direction: column;
                list-style: none;
            }

        } 
        }
    }
