footer{
        background-color: #5C5C51;
        text-align: center;
        p{
            margin: 0;
        }
    .banner-footer{
        padding: 20px 18px;
        position: relative;
       
        .container_footer{
            position: relative;
            display: flex;            
            align-items: center;
            justify-content: center;
            
            .nav-footer{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                gap: 60px;
                
                img{
                    width: 100px;
                }
                
                ul{
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    gap: 12px;
                    li a {
                        color: white;
                        text-decoration: none;
                        font-size: 16px;
                        transition: all 0.3s ease;
                        font-size: 16px;
                    }
                a:hover {
                    color: #DAD4A6;
                    transform: translateX(5px);
                    }
                }
            }
        }
    }
}