footer{
    background-color:#A1A198 ;
    .container_footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        img{
            width:70px ;
        }
    }
}