header{
    background-color: #5C5C51;
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    width: 99%;
    border-radius: 10px;
    opacity: 80%;
    margin-left: 10px;
    margin-top: 20px;
    z-index: 999;
    .container_nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .burger-btn {
            display: none;
            background: none;
            border: none;
            cursor: pointer;
            padding: 5px;
            z-index: 1001;
                span{
                display: block;
                width: 30px;
                height: 3px;
                background: white;
                margin: 6px 0;
                transition: 0.3s;
            }   
        }
        .burger-btn.active span:nth-child(1) {
            transform: rotate(45deg) translate(7px, 7px);
        }
        .burger-btn.active span:nth-child(2) {
            opacity: 0;
        }
        .burger-btn.active span:nth-child(3) {
            transform: rotate(-45deg) translate(7px, -7px);
        }
    }
    .nav-bar{
        display: flex;
        align-items: center;
        margin-right: 20px;
        gap: 10px;           
        list-style-type: none;
        gap: 50px;
    li{
         a{
            color: white;   
            text-decoration: none; 
            font-family: 'medievalsharp';
            font-size: 20px;
        }
    }
    }
    img{
        width: 50px;
        margin-left: 20px;
    }
    @media screen and (max-width: 768px) {
        .container_nav .burger-btn {
            display: block;
        }
            .nav-bar {
                position: fixed;
                top: 0;
                right: -100%;
                width: 300px;
                height: 100vh;
                background: #222;
                flex-direction: column;
                padding: 80px 0 20px;
                gap: 0;
                transition: right 0.3s;
                box-shadow: -2px 0 5px rgba(0,0,0,0.5);
                &.active {
                    right: 0;
                }

                li {
                    width: 100%;

                    a {
                        display: block;
                        padding: 1rem 2rem;
                        border-bottom: 1px solid #444;

                        &:hover {
                            background: rgba(255,255,255,0.05);
                            border-radius: 0;
                    }
                }
            }
        }
    }
}


