header{
    background-color: #5C5C51;
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    width: 99%;
    border-radius: 10px;
    opacity: 80%;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 999;
    .container_nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-bar{
        display: flex;
        align-items: center;
        margin-right: 20px;
        gap: 10px;           
        list-style-type: none;
        gap: 50px;
        a{
            color: white;   
            text-decoration: none; 
            font-family: 'medievalsharp';
            font-size: 20px;
        }
    }
    img{
        width: 50px;
        margin-left: 20px;
    }
}