header{
    background-color: #5C5C51;
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    width: 99%;
    border-radius: 10px;
    opacity: 80%;
    .container_nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-bar{
        display: flex;
        align-items: center;
        margin-right: 20px;
        gap: 10px;
        list-style-type: none;
    }
    img{
        width: 50px;
        margin-left: 20px;
    }
}