@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.banner_login{
    background: center/cover no-repeat fixed url(../../../public/img/login/bg_login.jpg);
    margin: 0;
    .login{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        h1{
            text-align: center;
            margin: 0%;
            color: #DAD4A6;
            -webkit-text-stroke: 0.15em #686868;
            paint-order: stroke fill;
            font-size: 70px;
            font-family: 'medievalsharp';
        }
        .form_style{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
                .btn_login{
                    --button-background: #DAD4A6;
                     @include m.step2v2(4px, black, var(--button-background));
                    height: 20px;
                    padding-inline: 3rem;
                    appearance: none;
                    border: none;
                    font-family: 'medievalsharp';
                    background-color: var(--button-background);
                    transition: all 0.3s ease;

                 }
                 .btn_login:hover{
                    --button-background: #beb35a;
                }
                .inscription_btn{
                    margin-bottom: 100px;
                    a{
                        color: white;
                        font-size: 20px;
                    }
                }
            .form-control{
                @include m.step2v2(4px, black, rgb(232, 240, 254));
                background-color: rgb(232, 240, 254);
                height: 30px;
                width: 250px;
                appearance: none;
                border: none;
                font-family: 'medievalsharp';

                    &:nth-child(1) {
                        text-transform: capitalize;
                        }
                    &:focus {
                        outline: none;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .banner_login{
        .login{
            height: 60vh;
        }
    h1{
font-size: 2.3rem;
        }   
    }
}