.banner_personnage{
    background: center/cover no-repeat fixed url(../../../public/img/personnage/bannerPersonnage.png);
    .personnage{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
            h1{
                color: #DAD4A6;
                -webkit-text-stroke: 1px #686868; 
                font-size: 70px;
                font-family: 'medievalsharp';
                text-align: center;
        }
    }
    .container_card_personnage{
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        justify-content: center;
        .card_personnage{
            box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36 ;
            max-width: 20%;
            margin-bottom: 70px;
            transition: all 0.4s ease;
            .name_perso{
                display: flex;
                align-items: center;
                img{
                    width: 60px;
                }
            }
            .stats{
                background-image: url(../../../public/img/personnage/bg_stats.png);
                background-size: cover;
                background-position: bottom;
                background-repeat: no-repeat;
                border-image: url(../../../public/img/personnage/bg_stats.png) 7 11 12 8 fill / 7px 11px 12px 8px;
                padding: 7px 11px 12px 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .stats_perso{
                    display: flex;
                    img{
                        width: 45px;
                        object-fit: cover;
                    }
                }
            }
            .bg_perso{
                background-image: url(../../../public/img/personnage/bg_perso.png);
                background-size: cover;
                background-position: bottom;
                background-repeat: no-repeat;
                display: flex;
                justify-content: center;
                max-width: 100%;
                img{
                    width: 30%;
                }
                .tank{
                    width: 38%;
                }
                .archer{
                    width: 34%;
                }
                .longSword{
                    width: 41%;
                }
            }
        }
    }
}
.card_personnage:hover{
    box-shadow: 0px 9px 10px #DAD4A6;
}