.banner_personnage{
    background: center/cover no-repeat fixed url(../../../public/img/personnage/bannerPersonnage.png);
    .personnage{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
            h1{
                color: #DAD4A6;
                -webkit-text-stroke: 1px #686868; 
                font-size: 70px;
                font-family: 'medievalsharp';
                text-align: center;
        }
    }
    .container_card_personnage{
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        justify-content: center;
        .card_personnage{
            width: 20%;
            .name_perso{
                display: flex;
                align-items: center;
                img{
                    width: 60px;
                }
            }
            .stats{
                background-image: url(../../../public/img/personnage/bg_stats.png);
                background-size: cover;
                background-position: bottom;
                background-repeat: no-repeat;
                border-image: url(../../../public/img/personnage/bg_stats.png) 7 11 12 8 fill / 7px 11px 12px 8px;
                padding: 7px 11px 12px 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .stats_perso{
                    display: flex;
                    img{
                        width: 55px;
                    }
                }
            }
            .bg_perso{
                background-image: url(../../../public/img/personnage/bg_perso.png);
                background-size: cover;
                background-position: bottom;
                background-repeat: no-repeat;
                display: flex;
                justify-content: center;
                img{
                    width: 120px;
                }
            }
        }
    }
}