.banner_personnage{
    background: center/cover no-repeat fixed url(../../../public/img/personnage/bannerPersonnage.png);
    .personnage{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
            h1{
                color: #DAD4A6;
                -webkit-text-stroke: 0.15em #686868; 
                paint-order: stroke fill;
                font-size: 4.375rem;
                font-family: 'medievalsharp';
                text-align: center;
        }
    }
    
    .container_card_personnage{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}
