:root {
    --pixel-size: 6;
}

.pixelart {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.banner_play{
    background: center/cover no-repeat fixed url(../../../public/img/bg_play.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .class_name {
        text-align: center;
        margin-top: 1rem;
        font-family: 'medievalsharp';
        margin-bottom: 3rem;

        h1 {
            margin: 0%;
        }
    }

    #create-team {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
            font-size: 4.375rem;
            color: #DAD4A6;
            paint-order: stroke fill;
            font-family: 'medievalsharp';
            -webkit-text-stroke: 0.15em #686868;
        }

        a {
            display: inline-block;
            padding: 20px;
            background-color: #DAD4A6;
            border: 4px solid #686868;
            margin-bottom: 1rem;

            .croce {
                position: relative;
                height: 60px;
                width: 60px;

                &::after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    content: "";
                    background-color: #686868;
                    width: 60px;
                    height: 15px;
                }

                &::before {
                    position: absolute;
                    top: 38%;
                    transform-origin: center;
                    transform: rotate(90deg);
                    content: "";
                    background-color: #686868;
                    width: 60px;
                    height: 15px;
                    
                }
            }
        }
    }

    .team{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;

        .characters-team-card {
            position: relative;
            pointer-events: none;
            width: 200px;
            height: 200px;

            &:nth-child(1) {
                bottom: 20px;
            }

            &:nth-child(3) {
                bottom: 20px;
            }

            .characters {
                position: absolute;
                top: -100%;
                left: -105%;
                width: calc(100px * var(--pixel-size));
                height: calc(100px * var(--pixel-size));
                overflow: hidden;
                pointer-events: none;

                .characters_spritesheet {
                    animation: moveSpritesheet 1s steps(6) infinite;
                    width: calc(600px * var(--pixel-size));
                    position: absolute;
                    pointer-events: none;
                }
            }

            .perso_name{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                
                p {
                    margin: 0;
                    text-align: center;
                    font-family: 'medievalsharp';
                    padding: 10px;
                    background-color:#A1A198 ;
                    border-radius: 10px;
                    opacity: 80%;
                    border: 2px solid #5C5C51 ;
                }
            }
        }
    }

    .container_play {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .play {
            color: black;
            background-color: #686868;
            padding: 15px 50px 15px 50px;
            margin: 10px;
            font-size: 25px;
            font-family: 'medievalsharp';
            box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36 ;        
            display: inline-block; 
            pointer-events: all;
            cursor: pointer;

            a {
                text-decoration: none;
                color: white;
                display: inline-block; 
                pointer-events: all;
                cursor: pointer;
            } 
        } 

        .play:active {
            transform: translateY(5px);
            box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,inset 0px 5px #00000038;
        }
    }
}

@keyframes moveSpritesheet {
   from {
      transform: translate3d(0px,0,0)
   }
   to {
      transform: translate3d(-100%,0,0)
   }
}