
#profil-wallpaper {
    background: center/cover no-repeat fixed url(../../../public/img/profil/bg_profil.png);
    position: relative;

    #profil {
        padding-top: 200px;
        padding-bottom: 150px;
        
        .container {
            width: 100%;
            max-width: 1050px;
            padding: 20px 0;
            margin: 0 auto;
    
            .avatar-container {
                display: flex;
                justify-content: center;
                align-items: center;

                #avatar {
                    position: relative;

                    .option {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        top: -3px;
                        right: -6px;
                        border-radius: 50%;
                        pointer-events: all;
                        z-index: 32;
                        cursor: pointer;

                        &:hover {
                            background-color: rgba(255, 255, 0, 0.486);
                            filter: blur(10px);
                        }
                    }

                    .avatar-border {
                        position: absolute;
                        width: 150px;
                        height: 150px;
                        padding: 21px;
                        top: -21px;
                        left: -21px;
                        background: center/contain no-repeat url(../../../public/img/profil/avatar-cadre.png);
                        z-index: 31;
                    }

                    .avatar-img {
                        position: relative;
                        width: 150px;   
                        height: 150px;
                        top: -1px;
                        border-radius: 50%;
                        
                        img {
                            background-color: white;
                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    #modal {
                        z-index: 40;
                        display: none;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5);
                        justify-content: center;
                        align-items: center;
                    }
                }

                #avatar img {
                    position: relative;
                    z-index: 0;
                }
            }

            #username {
                padding-top: 50px;
                text-align: center;
                h2 {
                    background: center/cover no-repeat url(../../../public/img/profil/fond-parchemin.png);
                    text-transform: capitalize;
                    display: inline-block;
                    padding: 1rem 4rem;
                    border: 2px solid #25130A;;
                    border-radius: 100vw;
                    font-family: 'medievalsharp';
                    font-size: 1.5rem;
                    color: #25130A;
                }
            }
        }
    }

    #teams {
        .container {
            width: 100%;
            max-width: 1050px;
            padding: 20px 0;
            margin: 0 auto;

            h2 {
                color: #DAD4A6;
                -webkit-text-stroke: 1px #afa870; 
                font-size: 40px;
                font-family: 'medievalsharp';
            }

            .team-container {
                padding: 20px;

                .team-card {
                    border-image: url(../../../public/img/profil/bg_team.png) 63 107 72 100 fill / 63px 107px 72px 100px;
                    padding: 40px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 3rem;


                    .team-heroes-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        margin-right: 3rem;
                    

                        .team-heroes {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            img {
                                width: 75px;
                                height: 75px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }
                    }   
                }

                .team-name {
                    margin-inline: auto;
                }

                .team-option {
                    margin-left: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 10px;
                    padding-right: 20px;

                    .active {
                        text-align: center;
                        background-color: #DAD4A6;
                        border: 2px solid #25130A;
                        border-radius: 100vw;
                        padding: 0.5rem 1.5rem;
                        font-family: 'medievalsharp';
                        cursor: pointer;

                        &:hover {
                            background-color: #afa870;
                        }
                    }

                    .activate {
                        text-align: center;
                        background-color: transparent;
                        border: 2px solid #25130A;
                        border-radius: 100vw;
                        padding: 0.5rem 1.5rem;
                        font-family: 'medievalsharp';
                        cursor: pointer;

                        &:hover {
                            background-color: #DAD4A6;
                            color: #25130A;
                        }
                    }

                    input[type="submit"] {
                        background-color: #DAD4A6;
                        border: 2px solid #25130A;
                        border-radius: 100vw;
                        padding: 0.5rem 1.5rem;
                        font-family: 'medievalsharp';
                        cursor: pointer;

                        &:hover {
                            background-color: #afa870;
                        }
                    }
                }
            }

        }
    }
}