
#profil-wallpaper {
    background: center/cover no-repeat fixed url(../../../public/img/profil/bg_profil.png);
    position: relative;

    #profil {
        padding-top: 200px;
        padding-bottom: 150px;
        
        .container {
            width: 100%;
            max-width: 1050px;
            padding: 20px 0;
            margin: 0 auto;
    
            .avatar-container {
                display: flex;
                justify-content: center;
                align-items: center;

                #avatar-frame {
                    position: relative;

                    .option {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        top: -3px;
                        right: -6px;
                        border-radius: 50%;
                        pointer-events: all;
                        z-index: 32;
                        cursor: pointer;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: rgba(255, 174, 0, 0.486);
                            filter: blur(10px);
                        }
                    }

                    .avatar-border {
                        position: absolute;
                        width: 150px;
                        height: 150px;
                        padding: 21px;
                        top: -21px;
                        left: -21px;
                        background: center/contain no-repeat url(../../../public/img/profil/avatar-cadre.png);
                        z-index: 31;
                    }

                    .avatar-img {
                        position: relative;
                        width: 150px;   
                        height: 150px;
                        top: -1px;
                        border-radius: 50%;
                        
                        img {
                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    #modal {
                        z-index: 40;
                        display: none;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5);
                        justify-content: center;
                        align-items: center;

                        .modal-content {
                            background: center/cover no-repeat url(../../../public/img/profil/modal-bg.png);
                            width: 460px;
                            padding: 30px;
                            height: 300px;
                            border-radius: 8px;

                            h2 {
                                    margin: 0;
                                    text-align: center;
                                    color: #25130A;
                                    font-family: 'medievalsharp';
                            }
                            div:nth-child(1) {
                                height: 100%;
                                margin-bottom: 1rem;
                            }

                            #avatar {
                                width: 100%;
                                height: 100%;
                            }

                            form {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 10px;
                                padding: 30px 30px 50px 30px;
                                width: 100%;
                                height: 100%;
                                box-sizing: border-box;

                                .modal-option {
                                    margin-top: auto;
                                    justify-self: flex-end;
                                    display: flex;
                                    gap: 20px;
                                }

                                label {
                                    box-sizing: border-box;
                                    display: inline-block;
                                    width: 100%;
                                    height: 100%;
                                    border: 5px dotted #25130A;
                                    border-radius: 8px;
                                    padding: 0.5rem 1.5rem;
                                    font-family: 'medievalsharp';
                                    margin-bottom: 1rem;
                                    pointer-events: all;
                                }

                                input[type="file"] {
                                    display: none;
                                }

                                button {
                                    text-align: center;
                                    background-color: #DAD4A6;
                                    border: 2px solid #25130A;
                                    border-radius: 100vw;
                                    padding: 0.5rem 1.5rem;
                                    font-family: 'medievalsharp';
                                    cursor: pointer;
                                    transition: all 0.3s ease;

                                    &:hover {
                                        background-color: #afa870;
                                        color: #25130A;
                                    }
                                }
                            }
                        }
                    }
                }

                #avatar img {
                    position: relative;
                    z-index: 0;
                }
            }

            #username {
                padding-top: 50px;
                text-align: center;
                h2 {
                    background: center/cover no-repeat url(../../../public/img/profil/fond-parchemin.png);
                    text-transform: capitalize;
                    display: inline-block;
                    padding: 1rem 4rem;
                    border: 2px solid #25130A;;
                    border-radius: 100vw;
                    font-family: 'medievalsharp';
                    font-size: 1.5rem;
                    color: #25130A;
                }
            }
        }
    }

    #create-team {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            display: inline-block;
            padding: 20px;
            background-color: #DAD4A6;
            border: 4px solid #686868;
            margin-bottom: 1rem;

            .croce {
                position: relative;
                height: 60px;
                width: 60px;

                &::after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    content: "";
                    background-color: #686868;
                    width: 60px;
                    height: 15px;
                }

                &::before {
                    position: absolute;
                    top: 38%;
                    transform-origin: center;
                    transform: rotate(90deg);
                    content: "";
                    background-color: #686868;
                    width: 60px;
                    height: 15px;
                    
                }
            }
        }
    }

    #teams {
        .container {
            width: 100%;
            max-width: 1050px;
            padding: 20px 0;
            margin: 0 auto;

            h2 {
                color: #DAD4A6;
                -webkit-text-stroke: 0.15em #686868; 
                paint-order: stroke fill;
                font-size: 40px;
                font-family: 'medievalsharp';
            }

            .team-container {
                padding: 20px;

                .team-card {
                    border-image: url(../../../public/img/profil/bg_team.png) 63 107 72 100 fill / 63px 107px 72px 100px;
                    padding: 40px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 3rem;

                    .team-heroes-container {
                        display: flex;
                        align-items: flex-end;
                        gap: 30px;
                        margin-right: 3rem;
                    

                        .team-heroes {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 75px;
                            height: 100%;

                            .characters {
                                position: absolute;
                                top: -165%;
                                left: -150%;
                                width: calc(100px * 3);
                                height: calc(100px * 3);
                                overflow: hidden;
                                pointer-events: none;

                                img {
                                    image-rendering: pixelated;
                                    image-rendering: crisp-edges;
                                    animation: moveSpritesheet 1s steps(6) infinite;
                                    width: calc(600px * 3);
                                    position: absolute;
                                    pointer-events: none;
                                }
                            }

                            p {
                                margin-top: 55px;
                                margin-bottom: 0;
                                position: relative;
                                font-family: 'medievalsharp';
                            }

                        }
                    }   
                }

                .team-name {
                    font-family: 'medievalsharp';
                    margin-inline: auto;
                }

                .team-option {
                    margin-left: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 10px;
                    padding-right: 20px;

                    .active {
                        text-align: center;
                        background-color: #DAD4A6;
                        border: 2px solid #25130A;
                        border-radius: 100vw;
                        padding: 0.5rem 1.5rem;
                        font-family: 'medievalsharp';
                        cursor: pointer;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: #afa870;
                        }
                    }

                    .activate {
                        text-align: center;
                        background-color: transparent;
                        border: 2px solid #25130A;
                        border-radius: 100vw;
                        padding: 0.5rem 1.5rem;
                        font-family: 'medievalsharp';
                        cursor: pointer;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: #DAD4A6;
                            color: #25130A;
                        }
                    }

                    input[type="submit"] {
                        background-color: #DAD4A6;
                        border: 2px solid #25130A;
                        border-radius: 100vw;
                        padding: 0.5rem 1.5rem;
                        font-family: 'medievalsharp';
                        cursor: pointer;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: #afa870;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {





}
@media screen and (max-width: 375px) 
{
    #profil-wallpaper #teams .container{
        h2{
            text-align: center;
        }
        .team-container .team-card {
            border-image: url(../../../public/img/profil/bg_team.png) 63 107 72 100 fill / 63px 107px 72px 100px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            margin-bottom: 3rem;
            .team-option {
                margin-left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                padding-right: 20px;
            }
        }
    }
}