@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
.banner_team{
    background: center/cover no-repeat fixed url(../../../public/img/team/bg_team.jpg);
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            text-align: center;
            color: white;
            font-family: 'medievalsharp';
            font-size: 3rem;
        }
        .btn_team{
            --button-background: #DAD4A6;
            @include m.step2v2(4px, black, var(--button-background));
            height: 20px;
            padding-inline: 3rem;
            appearance: none;
            border: none;
            font-family: 'medievalsharp';
            background-color: var(--button-background);
            transition: all 0.3s ease;

        }
        .btn_team:hover{
            --button-background: #beb35a;
        }
        .team-name{
                @include m.step2v2(4px, black, rgb(232, 240, 254));
                    background-color: rgb(232, 240, 254);
                    height: 30px;
                    width: 250px;
                    appearance: none;
                    border: none;
                    font-family: 'medievalsharp';
                    &:nth-child(1) {
                        text-transform: capitalize;
                        }
                    &:focus {
                        outline: none;
                        }
                
        }
    }
    #hero{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        h1{
            color: #DAD4A6;
            -webkit-text-stroke: 0.15em #686868; 
            paint-order: stroke fill;
            font-size: 4.375rem;
            font-family: 'medievalsharp';
            text-align: center;
        }
    }
    .container__character-team {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
    }

    .team-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;


        .character-team {
            width: 358px;
            height: 358px;
            background-image: url(../../../public/img/cards/card-bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

            
        
        
    }
    .filters-button{
        display: flex;
        justify-content: center;
        .filter-button{
            color: black;
            background-color: white;
            padding: 8px 20px 8px 20px;
            margin: 10px;
            font-size: 14px;
            font-family: 'medievalsharp';
            box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36 ;
            text-decoration: none;
            cursor: pointer;
            .filter-button:active {
                transform: translateY(5px);
                box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,inset 0px 5px #00000038;
            }
        }
    }
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.character-card {
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    position: relative;
    width: 358px;
    height: 358px;
    background-image: url(../../../public/img/card-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.character-stats{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.character-team.selected {
    filter: brightness(110%) drop-shadow(0 0 20px orange);
}

@media screen and (max-width: 768px) {
    .banner_team{
        #hero{
            h1{
                font-size: 3rem;
            }
        }
    }
    .team-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        transform:scale(0.6);
    }
}

@media screen and (max-width: 375px) {
    .banner_team{
        .container__character-team {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 0rem;
        }
        #hero{
                height: 60vh;
            h1{
                font-size: 2rem;
            }
        }
    }
    .team-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        transform:scale(0.7);
    }
}
