@use "romain"; 
/*BASE*/
@use 'base/fonts';
@use 'base/bases';

/*abstracts*/

/*components*/
@use 'components/cards';


/*layout*/
@use 'layout/header';
@use 'layout/accueil';
@use 'layout/personnage.scss';
@use 'layout/footer.scss';
@use 'layout/login.scss';
@use 'layout/profil.scss';



