// @use '/abstracts/mixins' as m;
// @use '/abstracts/variables' as v;


/*BASE*/
@use 'base/fonts';
@use 'base/bases';

/*abstracts*/

/*components*/
@use 'components/btn';
@use 'components/cards';


/*layout*/
@use 'layout/header';
@use 'layout/accueil';
@use 'layout/personnage.scss';
@use 'layout/footer.scss';
@use 'layout/login.scss';
@use 'layout/profil.scss';
@use 'layout/play.scss';
@use 'layout/combat';
@use 'layout/placement.scss';


@use 'layout/register.scss';
@use 'layout/team.scss';

@use "romain";
