#battle { display:flex; justify-content: space-around; }
.team { border:1px solid #ccc; padding:10px; width:40%; }
.unit-container { margin-top:10px; }
.unit { border:1px solid #000; padding:5px; margin:5px; text-align:center; background:#eee; transition:0.3s; }
.unit.dead { background:#555; color:#fff; text-decoration:line-through; }