{% extends 'base.html.twig' %}

{% block title %}Hello PersonnageController!{% endblock %}

{% block body %}
 <div class='banner'>
        <section class='hero'>
            <div>
                <h1>Voici les personages qui vous accompagnerons dans l’aventure !</h1>
            </div>
        </section>
    </div>
{% endblock %}
