{% extends 'base.html.twig' %}

{% block title %}Hello PersonnageController!{% endblock %}

{% block body %}
    <div class='banner_personnage'>
        <section class='personnage'>
            <div>
                <h1>Voici les personages qui vous accompagnerons dans l’aventure !</h1>
            </div>
        </section>
        <section>
            <div class='container_card_personnage'>
                {% include 'partials/perso.html.twig' %}
            </div>
        </section>
    </div>

{% endblock %}
